:root {
  --dark-fade: hsl(var(--hue-dark) 40% 30%);
  --dark: hsl(var(--hue-dark) 40% 25%);
  --light: hsl(var(--hue-light) 40% 94%);
  --light-fade: hsl(var(--hue-light) 30% 98%);
  --serif: Georgia, Cambria, Times New Roman, Times, serif;
  --sans: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

/* Element defaults */

html {
  background: var(--light);
  color: var(--dark);
}

blockquote {
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: var(--dark-fade);
}

pre {
  background: #fff;
  padding: 0.5rem 1rem;
  overflow-x: scroll;
}

code {
  font-family: 'IBM Plex Mono', 'Fira Mono', 'Source Code Pro', Menlo, Monaco, monospace;
  font-size: 0.9em;
}

@media (prefers-color-scheme: dark) {
  html {
    background: var(--dark);
    color: var(--light-fade);
  }

  blockquote {
    border-color: var(--light);
  }

  pre {
    background: #333;
  }
}

